body {
	width: 1150px;
    margin: 0 auto;
    background-color: #1A1A1A;
}

/* Headings and paragraphs. */

h1 {
	font-size: 50px;
	color: #660033;
	position: relative;
	text-align: center;
	font-family: 'Droid Serif', serif;
}

h1:hover {
	color: #990033;
}

h2 {
	font-size: 35px;
	color: #660033;
	font-family: 'Droid Serif', serif;
}

h3 {
	font-size: 13px;
	color: #1A1A1A;
	font-family: helvetica;
}

p {
	font-size: 14px;
	font-family: helvetica;
}

.infoCenter {
	color: #FFFFFF;
	font-family: helvetica;
	text-align: center;
}

span {
	color: #800040;
	font-family: 'PT Sans', sans-serif;
}

a {
	color: #3a3838;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
}

/* Navigation bar */

header {
	width: auto;
	height: auto;
}

nav {
	width: 100%;
	text-align: center;
    background: #33001A;
}

li {
	display: inline;
	list-style: none;
}

li a {
	display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 18px 0px;
    text-decoration: none;
    font-size: 18px;
    width: 150px;
}

li a:hover {
	background-color: #800040;
}

.imagePrincipal {
	width: 100%;
	opacity: .7;
}

/* Page title and summary */

#title {
	background-color: #211b1b;
	padding: 1px;
}

#main {
	display: flex;
	border-top: solid 2px #dddbdb;
}

.imageLeft {
	float: left;
	height: 230px;
	width: 170px;
	margin-right: 20px;
	border: solid 1px #33001a;
}

#thePlot {
	background-color: #F2F2F2;
	padding: 30px;
	flex: 3;
	text-align: justify;
}

#details {
	background-color: #dbd9d9;
	padding: 30px;
	flex: 1;
}

/* List of the characters of Velvet. */

#theCast {
	text-align: center;
	overflow: hidden;
}

.cast {
	height: 250px;
	display: inline;
}

.imageCast {
	width: 284px;
	height: 230px;
	background-color: #262626;
}

/* Seasons page */

#season {
	text-align: center;
}

iframe {
	border: solid 1.5px #333333;
}

table {
	width: 100%;
	background-color: #1c1819;
}

th, td {
	color: #1c1819;
	padding: 10px;
	text-align: center;
	font-family: helvetica;
}

th {
	background-color: #382f2f;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	background-color: #dbd9d9;
	font-size: 13px;
}

.leftT {
	width: 10%;
	color: #282626;
	font-size: 20px;
	background-color: #c6c0c0;
}

.middleT {
	width: 70%;
	text-align: justify;
}

.rightT {
	width: 30%;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #33001a;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	color: #998e8e;
	text-align: center;
}

.footer-info {
	color: #dbd9d9;
}

.footer-info:hover {
	color: #f8f8f8;
}

#openInfo {
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	display: none;
}

#openInfo:target {
	display: block;
}

.modalDialog {
	position: fixed;
	font-family: arial, helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #FFFFFF;
	background: -moz-linear-gradient(#FFFFFF, #999999);
	background: -webkit-linear-gradient(#FFFFFF, #999999);
	background: -o-linear-gradient(#FFFFFF, #999999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000000;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000000;
}

.close:hover { 
	background: #960747; 
}

/* Contact form */

form {
	text-align: left;
	padding: 10px;
}

input[type=text], input[type=phone], input[type=email], input[type=comment] {
	width: 100%;
	height: 20px;
	padding: 2px;
	font-size: 14px;
	margin: 0;
}

input[type=submit] {
	opacity: .8;
}

input[type=submit]:hover {
	opacity: 1;
}
